PORT=3000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=node_express_app
DB_USER=postgres
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_DIALECT=postgres
JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_LARGA_Y_ALEATORIA
JWT_EXPIRES_IN=1h
